﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>TandemRadar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style type="text/css">
        body {
            padding-top: 100px;
        }

        .form-container {
            width: 400px;
            margin: auto;
        }

        .credits {
            border-top: 1px solid #ddd;
            margin-top: 40px;
            padding-top: 20px;
        }
        .tm-site-name {
          color: #cc9900;
          display: block;
          font-size: 2.6rem;
          font-weight: 400;
      }
      .tm-title {
          margin-bottom: 1rem;
          line-height: 1.4;
      }
      .tm-gold-text {
          color: #cc9900;
      }
      .tm-subtitle {
        font-size: 1.4rem;
        max-width: 800px;
        margin: 0 auto 80px;
    }
    </style>
</head>
<body>
