body {
    padding: 20px 0;
}

.flash-message {
    margin-top: 20px;
}


.form-container {
    width: 400px;
    margin: auto;
}

.credits {
    border-top: 1px solid #ddd;
    margin-top: 40px;
    padding-top: 20px;
  }


.short-info {
  font-weight: bold;
  font-size: 20px;
}

.container a:hover {
  color: gray;
}

.form-signin {
    width: 400px;
    margin-right: auto;
    margin-left: auto;

}


.tm-section {
    padding-top: 80px;
    padding-bottom: 80px;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
}


.signin-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-img {
  width: 300px;
  height: auto;
}



.short-info {
  font-weight: bold;
  font-size: 20px;
}

.search {
  padding-top: 30px;
  padding-bottom: 50px;
}


.main-registration {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}


.nav-link:hover {
    color: black;
    background-color: #cc9900;
}


.nav-link:hover i {
  color: black;
}

.nav-link i {
  color: black;
}
