﻿<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Detail</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <h3>Hi {{vm.user.firstName}}!! Meet {{vm.viewed_user.firstName}}:</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <a ui-sref="catalogue" class="btn btn-light" role="button"><i class="fa fa-arrow-left"></i>  Back to catalogue</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img class="profile-img" src="img/linda.jpg" />
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12 short-info">
            {{vm.viewed_user.firstName}}, {{vm.viewed_user.age}} years, {{vm.viewed_user.city}}, {{vm.viewed_user.country}}
          </div>
          <div class="col-md-12">
            {{vm.viewed_user.firstName}} speaks {{vm.viewed_user.spokenLanguages}}.
          </div>
          <div class="col-md-12">
            {{vm.viewed_user.firstName}} is interested in {{vm.viewed_user.interestingLanguages}}.
          </div>
          <div class="col-md-12">
            About {{vm.viewed_user.firstName}}: {{vm.viewed_user.about}}
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-light">Request tandem pairing</button>
      </div>
    </div>

</div>
