﻿<%- include('partials/header') %>
<div class="form-container">
  <div class="tm-header">
      <div class="container-fluid">
          <div class="tm-header-inner">
              <a href="#" class="navbar-brand tm-site-name"><i class="fa fa-globe"></i>TandemRadar</a>
          </div>
      </div>
  </div>


  <section class="tm-section">
      <div class="container-fluid">
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-xs-center">
                  <h2 class="tm-gold-text tm-title">Develop your language skills!</h2>
                  <p class="tm-subtitle">Find a tandem partner in your city with TandemRadar and finally learn your language skills right!</p>
              </div>
          </div>
      </div>
  </section>
    <h2>Register</h2>
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <form method="post">
        <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" value="<%= locals.firstName || '' %>" required />
        </div>
        <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" name="lastName" id="lastName" class="form-control" value="<%= locals.lastName || '' %>" required />
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" value="<%= locals.username || '' %>" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <input type="text" name="country" id="country" class="form-control" value="<%= locals.country || '' %>" required />
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" name="city" id="city" class="form-control" value="<%= locals.city || '' %>" required />
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="text" name="age" id="age" class="form-control" value="<%= locals.age || '' %>" required />
        </div>
        <div class="form-group">
          <label for="spokenLanguages">Languages you speak</label>
          <textarea class="form-control" name="spokenLanguages" id="spokenLanguages" rows="2" required><%= locals.spokenLanguages || '' %></textarea>
        </div>
        <div class="form-group">
          <label for="interestingLanguages">Languages you are interesting in learning</label>
          <textarea class="form-control" name="interestingLanguages" id="interestingLanguages" rows="2" required><%= locals.interestingLanguages || '' %></textarea>
        </div>
        <div class="form-group">
          <label for="about">Write a few words about you!</label>
          <textarea class="form-control" name="about" id="about" rows="4" required><%= locals.about || '' %></textarea>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
            <a href="/login" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
<%- include('partials/footer') %>
