﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>TandemRadar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"  type="text/css" href="css/templatemo-style.css">                                   <!-- Templatemo style -->
    <link rel="stylesheet"  type="text/css" href="css/custom.css">
</head>
<body class="container">

  <div class="tm-header">
      <div class="container-fluid">
          <div class="tm-header-inner">
            <a ui-sref="catalogue"  class="navbar-brand tm-site-name"><i class="fa fa-globe"></i>TandemRadar</a>
              <!-- navbar -->
              <nav class="navbar tm-main-nav">
                  <div class=" navbar-toggleable-sm" >
                      <ul class="nav navbar-nav">
                          <li class="nav-item" ng-class="{active: activeTab === 'catalogue'}">
                              <a ui-sref="catalogue" class="nav-link">Catalogue</a>
                          </li>
                          <li class="nav-item" ng-class="{active: activeTab === 'pairings'}">
                              <a ui-sref="pairings" class="nav-link">Pairings</a>
                          </li>
                          <li class="nav-item" ng-class="{active: activeTab === 'profile'}">
                            <a ui-sref="profile" class="nav-link">Profile</a>
                          </li>
                          <li class="nav-item">
                            <a href="/login" target="_self" class="nav-link"><i class="fa fa-sign-out"></i> Logout</a>
                          </li>

                      </ul>
                  </div>

              </nav>

          </div>

          <div class="flash-message" ng-if="flash">
              <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
          </div>
      </div>
  </div>

    <!-- main -->
    <main ui-view></main>

    <!-- footer -->
    <footer></footer>

    <!-- external scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script> <!-- Tether for Bootstrap, http://stackoverflow.com/questions/34567939/how-to-fix-the-error-error-bootstrap-tooltips-require-tether-http-github-h -->


    <!-- application scripts -->
    <script src="app.js"></script>
    <script src="app-services/user.service.js"></script>
    <script src="app-services/language.service.js"></script>
    <script src="app-services/flash.service.js"></script>
    <script src="catalogue/index.controller.js"></script>
    <script src="profile/index.controller.js"></script>
    <script src="pairings/index.controller.js"></script>
    <script src="detail/index.controller.js"></script>
</body>
</html>
