<div class="form-container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Profile</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>Hi {{vm.user.firstName}}!! Update or delete your profile on TandemPartner here :)</h3>
    </div>
  </div>﻿
    <form method="post">
        <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" id="firstName" class="form-control" ng-model="vm.user.firstName" required />
        </div>
        <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" id="lastName" class="form-control" ng-model="vm.user.lastName" required />
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" ng-model="vm.user.username" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" ng-model="vm.user.password" />
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <input type="text" id="country" class="form-control" ng-model="vm.user.country" required />
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" id="city" class="form-control" ng-model="vm.user.city" required />
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="text" id="age" class="form-control" ng-model="vm.user.age" required />
        </div>
        <div class="form-group">
          <label for="spokenLanguages">Languages you speak</label>
          <textarea class="form-control" id="spokenLanguages" ng-model="vm.user.spokenLanguages" rows="2"></textarea>
        </div>
        <div class="form-group">
          <label for="interestingLanguages">Languages you are interesting in learning</label>
          <textarea class="form-control" id="interestingLanguages" ng-model="vm.user.interestingLanguages"  rows="2"></textarea>
        </div>
        <div class="form-group">
          <label for="about">Write a few words about you!</label>
          <textarea class="form-control" id="about" ng-model="vm.user.about" rows="4"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="vm.saveUser()">Save</button>
            <button class="btn btn-danger" ng-click="vm.deleteUser()">Delete</button>
        </div>
    </form>
</div>
