<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Pairings</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h3>Hi {{vm.user.firstName}}!! Check your tandem pairings :)</h3>
      </div>
    </div>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Requested by others</a></li>
      <li role="presentation"><a href="#">Requested by me</a></li>
      <li role="presentation"><a href="#">Tandem Pairings</a></li>
    </ul>


    <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <img class="profile-img" src="img/linda.jpg" />
            </div>
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12 short-info">
                  Linda, 25 years, Graz, Austria
                </div>
                <div class="col-md-12">
                  Speaks English, Spanisch
                </div>
                <div class="col-md-12">
                  About Linda: Interested in Mandarin
                </div>
                <div class="col-md-12">
                  I like dogs, unicorns and avocados.
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-light">Approve request</button>
                </div>
                <div class="col-md-12">
                  <button type="button" class="btn btn-light">Delete request</button>
                </div>
              </div>
            </div>
          </div>
        </div>

  </div>
