﻿<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Catalogue</h2>
      </div>
    </div>

    <div ng-show="!vm.users.length" class="row">
      <div class="col-md-12 text-center">
        <h3>Hi {{vm.user.firstName}}!! There are currently no other profiles on TandemPartner :(</h3>
      </div>
    </div>
    <div ng-show="vm.users.length">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3>Hi {{vm.user.firstName}}!! Choose your tandem partner by browsing through our catalogue of possible tandem partners!</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 search">
          <div class="input-group">
            <label>Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search for...">
        </div>
      </div>
        <div class="offset-md-4 col-md-4 search">
          <form class="form-horizontal">
              <div class="form-group">
                  <label>Filter for a specific language</label>
                      <select class="form-control" ng-model="vm.selectedLanguage" ng-options="language.name for language in vm.languages">
                          <option value="">Select a language...</option>
                      </select>
              </div>
          </form>
          </div>
        </div>




      <!-- <div ng-repeat="user in vm.users |filter:search| pagination: curPage * pageSize | limitTo: pageSize"> -->
      <div ng-repeat="user in vm.users | orderBy: 'firstName' | filter: search | filter: vm.filterLanguages">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                  <div class="col-md-4">
                    <img class="profile-img" src="img/linda.jpg" />
                  </div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-12">
                        <p class="short-info">
                          {{user.firstName}}, {{user.age}} years, {{user.city}}, {{user.country}}
                        </p>
                      </div>
                      <div class="col-md-12">
                        Interested in {{user.interestingLanguages}}. Speaks {{user.spokenLanguages}}.</br>
                        <a ui-sref="detail({ _id: user._id})">See full profile!</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>






      <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4 offset-md-4">
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

    </div>



  </div>
